:root {
    --primary-clr: #FFDB99;
    --footer-clr: #B3A36B;
}

/* color palette:   
                    #99FFF8
                    #6BB3AE
                    #FF99E8
 */

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: val(--primary-clr);
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header,
.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px;
    background-color: val(--footer-clr);
}

.calculator-container {
    display: flex;
    flex-direction: column;
    background-color: #FF99E8;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 5px 5px lightgray;
}

.main {
    display: flex;
    justify-content: center;
}

.controls {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
}

.display {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    margin: 3px;
    border-radius: 8px;
    font-size: 25px;
    border: 1px solid #6BB3AE;
    background-color: val(--primary-clr);
}

button {
    margin: 3px;
    height: 50px;
    width: 50px;
    font-size: 25px;
    border-radius: 8px;
    border: 1px solid #6BB3AE;
    background-color: #99FFF8;
    box-shadow: 0 5px #999;
}

button:active {
    box-shadow: 0 2px #4d8a86;
    transform: translateY(3px);
}

.operator {
    border: 1px solid #4d8a86;
    background-color: #477c79;
}